<div class="flex  min-h-screen">
  <div class="w-full relative">
    <div class="h-full w-full absolute overflow-hidden">
      <img src="https://cdn.mypanel.link/af5a5a/g8e0q5syxhpd43wq.png" alt="" width="400px" class="absolute">
      <svg width="400" height="400" class="absolute bottom-0 right-0">
        <rect width="400" height="400" fill="#AFD9FF"></rect>
      </svg>
    </div>

    <div class="flex items-center h-full py-3 md:py-5"><div class="card rounded-box border-0 bg-white shadow-lg py-3 sm:py-5 sm:p-5 overflow-hidden"><div class="card-body">
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="col">
          <div class="flex mb-4">
            <a href="/">
              <img src="https://cdn.mypanel.link/af5a5a/5poolxxjg4ox7pog.png" alt="Logo TokeyFollower" class="img-fluid float-center">
            </a>
          </div>
          <div id="signup-illustrate" class="h-full" style="z-index:-1;">
            <img src="https://cdn.mypanel.link/af5a5a/ty4lrn0tss4g2dop.jpg" alt="Holding a phone">
            <div>
              <span class="elements-popping"><img src="https://cdn.mypanel.link/af5a5a/0tqzl6oq0dsqeo33.jpg" alt="Comment"></span>
              <span class="elements-popping"><img src="https://cdn.mypanel.link/af5a5a/9gqznfqwztfxrpp3.jpg" alt="Like"></span>
              <span class="elements-popping"><img src="https://cdn.mypanel.link/af5a5a/9gqznfqwztfxrpp3.jpg" alt="Like"></span>
              <span class="elements-popping"><img src="https://cdn.mypanel.link/af5a5a/0tqzl6oq0dsqeo33.jpg" alt="Comment"></span>
            </div>
          </div>
        </div>
        <div class="col z-0">
          <h2 class="font-extrabold">Mulakan pengalaman anda di TokeyFollower hari ini!</h2>
          <p class="text-neutral-dark-300">Servis yang murah. Sistem yang mudah. Server yang pantas. Bina sales dengan servis kami. Sudah ada akaun? <a href="/" class="text-decoration-none">Log Masuk</a></p>
          <form action="" method="post">
            <div class="mb-3">
              <label for="username" class="form-label"><em>Username</em></label>
              <input type="text" class="form-control" id="username" value="" name="RegistrationForm[login]">
            </div>
            <div class="row row-cols-1 row-cols-sm-2">
              <div class="col mb-3">
                <label for="firstname" class="form-label"><em>First Name</em></label>
                <input type="text" class="form-control" id="firstname" value="" name="RegistrationForm[first_name]">
              </div>
              <div class="col mb-3">
                <label for="lastname" class="form-label"><em>Last Name</em></label>
                <input type="text" class="form-control" id="lastname" value="" name="RegistrationForm[last_name]">
              </div>
            </div>
    
    
            <div class="mb-3">
              <label for="email" class="form-label">Emel</label>
              <input type="email" class="form-control" id="email" value="" name="RegistrationForm[email]">
            </div>
    
              
            <div class="grid grid-rows-1 grid-rows-md-2 grid-rows-lg-1 grid-rows-xl-2">
              <div class="col mb-3">
                <label for="password" class="form-label">Kata Laluan</label>
                <input type="password" class="form-control" id="password" name="RegistrationForm[password]">
              </div>
    
              <div class="col mb-3">
                <label for="confirm" class="form-label">Kata Laluan <em>(Confirmation)</em></label>
                <input type="password" class="form-control" id="confirm" name="RegistrationForm[password_again]">
              </div>
            </div>
    
                        <div class="g-recaptcha form-group" data-sitekey="6LeI5rUaAAAAAOt-b5yNJJhBqyqTM6EFjX-iSzUK"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeI5rUaAAAAAOt-b5yNJJhBqyqTM6EFjX-iSzUK&amp;co=aHR0cHM6Ly90b2tleWZvbGxvd2VyLmNvbTo0NDM.&amp;hl=en&amp;v=mBwkfBPLFWI0ygbsp8eJNMkw&amp;size=normal&amp;cb=dv3of7ydlwzi" width="304" height="78" role="presentation" name="a-d43thv9xjgny" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
              
              
            <input type="hidden" name="_csrf" value="LtB_D5HDjX8dpWKLWPwBiqJxezc4-Bh8nf5JEbr8VWIYois_oKS8C1DgPe5hzjXC1kABf3Ofcw_xnwVJ_YkxVQ==">
            <button type="submit" class="btn btn-primary">Daftar</button>
    
          </form>
        </div>
      </div>
    </div></div></div>
</div>

</div>