<div class="py-4 px-8">
    <div class="flex justify-between">
        <h2 class="text-xl">Semak Order</h2>
        <div class="flex gap-2">
            <a class="btn btn-sm font-light rounded px-4 btn-primary" href="#">All</a>
            <a class="btn btn-sm font-light rounded px-4 btn-secondary" href="#">Tengah Proses</a>
            <a class="btn btn-sm font-light rounded px-4 btn-secondary" href="#">Dah Siap</a>
            <a class="btn btn-sm font-light rounded px-4 btn-secondary" href="#">Canceled</a>
            <a class="btn btn-sm font-light rounded px-4 btn-secondary" href="#">Pending</a>
            <a class="btn btn-sm font-light rounded px-4 btn-secondary" href="#">Partial</a>
        </div>
    </div>

    <div class="bg-white shadow-md h-[40rem] mt-4 rounded-md">
        <div class="h-20 bg-neutral-light-200 flex items-center justify-between">
            <div>
                <button class="btn btn-primary">Tetapan Jadual</button>
            </div>
            <input type="text" placeholder="Type here" class="input w-full max-w-xs bg-white" />
        </div>
        <table>
        </table>
    </div>
</div>