<div class="w-full" x-data="signinPageData">
    
    <div class="w-full flex flex-col items-center relative h-[76rem] xl:h-[84rem] overflow-hidden">
        <div class="absolute w-full h-[76rem] xl:h-[84rem] z-0 overflow-hidden flex justify-center">
            <div class="absolute w-[160rem] h-[76rem] xl:h-[84rem] opacity-20" id="home--hero-backgroundnoise"></div>
    
            <div class="absolute w-full h-screen" id="home--hero-softblobs">
                <div class="absolute right-28 top-80">
                    <svg class="overflow-visible" width="731" height="825" viewBox="0 0 731 825" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.6" filter="url(#filter0_f_194_174)">
                        <circle cx="412.5" cy="412.5" r="140.5" fill="#F6C667"/>
                        </g>
                        <defs>
                        <filter id="filter0_f_194_174" x="0" y="0" width="825" height="825" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="136" result="effect1_foregroundBlur_194_174"/>
                        </filter>
                        </defs>
                    </svg>
                </div>
                <div class="absolute left-28 top-80">
                    <svg class="overflow-visible" width="719" height="596" viewBox="0 0 719 596" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.6" filter="url(#filter0_f_194_176)">
                        <circle cx="306.5" cy="183.5" r="140.5" fill="#007CB9" fill-opacity="0.6"/>
                        </g>
                        <defs>
                        <filter id="filter0_f_194_176" x="-106" y="-229" width="825" height="825" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="136" result="effect1_foregroundBlur_194_176"/>
                        </filter>
                        </defs>
                    </svg>
                </div>
                <div class="absolute -left-16 -top-40">
                    <svg class="overflow-visible" width="731" height="825" viewBox="0 0 731 825" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.6" filter="url(#filter0_f_194_174)">
                        <circle cx="412.5" cy="412.5" r="140.5" fill="#F6C667"/>
                        </g>
                        <defs>
                        <filter id="filter0_f_194_174" x="0" y="0" width="825" height="825" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="136" result="effect1_foregroundBlur_194_174"/>
                        </filter>
                        </defs>
                    </svg>
                </div>
                <div class="absolute right-28 top-8">
                    <svg class="overflow-visible" width="719" height="596" viewBox="0 0 719 596" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.6" filter="url(#filter0_f_194_176)">
                        <circle cx="306.5" cy="183.5" r="140.5" fill="#007CB9" fill-opacity="0.6"/>
                        </g>
                        <defs>
                        <filter id="filter0_f_194_176" x="-106" y="-229" width="825" height="825" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="136" result="effect1_foregroundBlur_194_176"/>
                        </filter>
                        </defs>
                    </svg>
                </div>
            </div>
    
            <div class="absolute z-30 bottom-0 overflow-hidden w-full">
                <div class="w-[100rem] xl:w-[400rem] -ml-96">
                    <img class="opacity-60 md:opacity-100" src="https://cdn.mypanel.link/af5a5a/woryrb7aj79086im.png" alt="Dashboard sneak peek art">
                </div>
            </div>
        </div>
        <nav x-data class="flex items-center justify-between w-full px-4 md:px-8 2xl:px-0 lg:w-[64rem] xl:w-[80rem] my-4 z-10">
            <div class="flex items-center gap-4">
                <div class="dropdown lg:hidden relative">
                    <label tabindex="0" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a href="/terms">Terma</a></li>
                        <li><a href="/services">Harga</a></li>
                        <li><a href="/faq">Soalan Lazim</a></li>
                        <li><a href="/signup">Daftar</a></li>
                    </ul>
                </div>
    
                <a class="mr-8 w-24 md:w-40" href="/"><img src="https://cdn.mypanel.link/af5a5a/5poolxxjg4ox7pog.png" alt="Logo"></a>
            </div>
            <ul class="hidden lg:flex items-center gap-2 mr-auto">
                <li><a class="btn btn-ghost" href="/terms">Terma</a></li>
                <li><a class="btn btn-ghost" href="/services">Harga</a></li>
                <li><a class="btn btn-ghost" href="/faq">Soalan Lazim</a></li>
                <li><a class="btn btn-ghost" href="/signup">Daftar</a></li>
            </ul>
    
            <label
                for="login-modal"
                {# @click="alert('logging in')" #}
                class="modal-button btn btn-secondary flex items-center justify-center md:w-56">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                </svg>
                <span class="ml-4">Log Masuk</span>
            </label>
        </nav>
        <div class="flex flex-col md:flex-row justify-between lg:w-10/12 xl:w-[68rem] mt-24 z-0 relative">
            <div class="-z-10 absolute inset-y-0 left-0 -translate-y-16 xl:-translate-y-12 w-full xl:w-fit">
                <div id="bmcontainer-heromap" class="z-10 absolute xl:w-[30rem]"></div>
                <div class="xl:-translate-y-8 xl:-translate-x-40 xl:w-[50rem]">
                    <img src="https://cdn.mypanel.link/af5a5a/l06o54qd2icq340g.png" alt="grid" class="w-full">
                </div>
            </div>
            <div class="w-11/12 md:w-[32rem] lg:w-[36rem] translate-y-40 xl:translate-y-0 mt-16 md:mt-0 mx-auto md:mr-0 md:ml-auto z-10">
                <h1 class="text-3xl md:text-5xl font-bold mb-8 leading-tight tracking-tighter text-neutral-dark-700">TokeyFollower, server #1 terpantas di <span class="text-secondary-content">Malaysia</span>.</h1>
                <p class="mb-8 text-neutral-dark-300">Jalankan bisnes jualan follower anda hari ini dengan server terpantas dari kami hari ini!</p>
                <div class="flex flex-col md:flex-row gap-4">
                    <a href="/signup" class="btn btn-primary md:w-56">
                        <span class="mr-4">Sertai Kami </span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                    </a>
                    <label
                        for="login-modal"
                        {# @click="alert('logging in')" #}
                        class="modal-button btn btn-secondary flex items-center justify-center md:w-56">
                        <span class="mr-4">Log Masuk</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                        </svg>
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <section id="section-home--introduction" class="flex flex-col lg:flex-row pt-16 lg:pt-64 px-4 md:px-8 justify-center bg-neutral-light-100 w-full">
        <div class="lg:w-[32rem] relative z-10">
            <div class="mb-10">
                <p class="text-secondary-content font-bold mb-4 tracking-widest text-sm">SERVER NO.1 DI MALAYSIA</p>
                <svg width="20" height="4" viewBox="0 0 20 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="2" y1="2" x2="18" y2="2" stroke="#F6C667" stroke-width="4" stroke-linecap="round"/>
                </svg>
            </div>
            <h1 class="text-2xl md:text-4xl font-bold text-neutral-dark-700 mb-6 leading-snug">Selamat datang ke <span>Tokey</span><span>Follower.com</span></h1>
            <p class="leading-relaxed font-light mb-10 text-sm md:text-base">TokeyFollower adalah server pembekal marketing media sosial yang terbaik di Malaysia, dengan harga paling murah dan tiada cas-cas dikenakan kepada pengguna. Terdapat pelbagai servis untuk pelbagai media sosial yang tersedia di sistem kami.</p>
            <a href="/services/" class="btn btn-accent w-64">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 3.5C6.73478 3.5 6.48043 3.60536 6.29289 3.79289C6.10536 3.98043 6 4.23478 6 4.5C6 4.76522 6.10536 5.01957 6.29289 5.20711C6.48043 5.39464 6.73478 5.5 7 5.5H13C13.2652 5.5 13.5196 5.39464 13.7071 5.20711C13.8946 5.01957 14 4.76522 14 4.5C14 4.23478 13.8946 3.98043 13.7071 3.79289C13.5196 3.60536 13.2652 3.5 13 3.5H7ZM4 7.5C4 7.23478 4.10536 6.98043 4.29289 6.79289C4.48043 6.60536 4.73478 6.5 5 6.5H15C15.2652 6.5 15.5196 6.60536 15.7071 6.79289C15.8946 6.98043 16 7.23478 16 7.5C16 7.76522 15.8946 8.01957 15.7071 8.20711C15.5196 8.39464 15.2652 8.5 15 8.5H5C4.73478 8.5 4.48043 8.39464 4.29289 8.20711C4.10536 8.01957 4 7.76522 4 7.5ZM2 11.5C2 10.9696 2.21071 10.4609 2.58579 10.0858C2.96086 9.71071 3.46957 9.5 4 9.5H16C16.5304 9.5 17.0391 9.71071 17.4142 10.0858C17.7893 10.4609 18 10.9696 18 11.5V15.5C18 16.0304 17.7893 16.5391 17.4142 16.9142C17.0391 17.2893 16.5304 17.5 16 17.5H4C3.46957 17.5 2.96086 17.2893 2.58579 16.9142C2.21071 16.5391 2 16.0304 2 15.5V11.5Z" fill="#002F4B"/>
                </svg>
                <span class="ml-3">Lihat Semua Servis</span>
            </a>
        </div>
        <img src="https://cdn.mypanel.link/af5a5a/k84jfg7uw01hgmzz.png" alt="" class="w-[19.625rem] lg:w-auto lg:h-72 lg:ml-24 ml-auto lg:mt-8 -mt-36">
    </section>
    
    {# <section id="section-home--socialmedias" class="mb-36 py-32 md:py-64 w-full bg-neutral-light-100"> #}
    <section id="section-home--socialmedias" class="px-4 py-32 md:py-64 w-full bg-neutral-light-100">
        <div class="flex items-center justify-center flex-col space-y-8"
            x-data="{
                activeIndex: 0,
                titles: [
                    {name: 'tiktok',    translateClass: { image: 'translate-y-0', name: ''}, imageLink: 'https://cdn.mypanel.link/af5a5a/tgbld8oyto6q3c62.png'},
                    {name: 'instagram', translateClass: { image: '-translate-y-[8rem]', name: 'translate-y-[2.25rem]' }, imageLink: 'https://cdn.mypanel.link/af5a5a/m5ms4s94zcrqlz8b.png'},
                    {name: 'youtube',   translateClass: { image: '-translate-y-[16rem]', name: 'translate-y-[4.5rem]' }, imageLink: 'https://cdn.mypanel.link/af5a5a/a2nsiz03fnpbjk1d.png'},
                    {name: 'facebook',  translateClass: { image: '-translate-y-[24rem]', name: 'translate-y-[6.75rem]' }, imageLink: 'https://cdn.mypanel.link/af5a5a/onm1npxtayuto2we.png'},
                    {name: 'twitter',   translateClass: { image: '-translate-y-[32rem]', name: 'translate-y-[9rem]' }, imageLink: 'https://cdn.mypanel.link/af5a5a/fx1fuuwsyx8176bd.png'},
                    {name: 'telegram',  translateClass: { image: '-translate-y-[40rem]', name: 'translate-y-[11.25rem]' }, imageLink: 'https://cdn.mypanel.link/af5a5a/k72qge4izbzutgwk.png'}
                ],
            }"
    
            x-init="$nextTick(() => {
                setInterval(() => {
                    if (activeIndex < titles.length - 1)
                        activeIndex++
                    else
                        activeIndex = 0
                }, 3000)
            })"
        >
            <div class="flex items-center">
                <div class="relative">
                    <img src="https://cdn.mypanel.link/af5a5a/o1ncpuoxjc1ox57w.png" alt="" class="w-[16.70625rem] md:w-[20.625rem]">
                    <div class="absolute w-full h-32 inset-y-0 left-0 overflow-hidden mt-16 md:mt-24">
                        <span class="flex flex-col mx-auto gap-12 w-20 transition-transform will-change-transform" :class="titles[activeIndex].translateClass.image">
                            <template x-for="title in titles">
                                <img :src="title.imageLink" alt="social media platform images">
                            </template>
                        </span>
                    </div>
                </div>
                <div class="relative">
                    <span
                        class="absolute -top-[.125rem] left-0 text-primary animate-bounce-side"
                    >
                        <svg
                            :class="titles[activeIndex].translateClass.name"
                            xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 will-change-transform transition-transform" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
                    </span>
                    <ul class="text-xl font-light text-neutral-dark-300 flex flex-col leading-none space-y-4 -mt-4 ml-8" id="tf2022--home--socialmedias--platforms">
                        <template x-for="(title, index) in titles">
                            <li
                                class="hover:text-primary cursor-pointer transition-colors"
                                :class="index == activeIndex && 'text-primary'"
                                @click="activeIndex = index"
                                x-text="title.name"
                            ></li>
                        </template>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="text-center font-bold mb-3 text-3xl">Senarai Media Sosial</h2>
                <h3 class="text-center font-light">Platform media sosial yang disokong oleh sistem kami</h3>
            </div>
        </div>
    </section>
    
    <section id="section-home--mainbenefits" class="w-full overflow-clip">
        <div class="relative flex flex-col items-center mt-12" x-data="{ mainbenefits_currentview: 1 }">
            <div class="sticky top-12 px-16 md:flex hidden gap-4 z-10 w-full mb-[50rem]">
                <button
                    @click="
                        mainbenefits_currentview = 1;
                        document.getElementById('section-home--mainbenefits-1').scrollIntoView({ behavior: 'smooth' })" class="btn w-28 shadow-lg"
                    :class="mainbenefits_currentview == 1 ? 'btn-bright-active' : 'btn-bright'"
                >
                    Pantas
                </button>
                <button
                    @click="
                        mainbenefits_currentview = 2;
                        document.getElementById('section-home--mainbenefits-2').scrollIntoView({ behavior: 'smooth' })" class="btn w-28 shadow-lg"
                    :class="mainbenefits_currentview == 2 ? 'btn-bright-active' : 'btn-bright'"
                >
                    Mudah
                </button>
                <button
                    @click="
                        mainbenefits_currentview = 3;
                        document.getElementById('section-home--mainbenefits-3').scrollIntoView({ behavior: 'smooth' })" class="btn btn-bright w-28 shadow-lg"
                    :class="mainbenefits_currentview == 3 ? 'btn-bright-active' : 'btn-bright'"
                >
                    Murah
                </button>
            </div>
            <div id="section-home--mainbenefits-1" class="relative flex flex-col-reverse md:flex-row justify-between px-8 sm:px-16 w-full md:w-[44rem] lg:w-[50rem] xl:w-[70rem] md:-mt-[56rem]">
                <div class="w-full md:w-[26rem]">
                    <div class="py-8 sm:py-16 md:py-64">
                        <h1 class="text-primary font-bold text-5xl mb-6">Pantas</h1>
                        <p class="font-light leading-7">Masa anda amat kami hargai. Order anda akan disiapkan pada masa yang tersenarai. Admin kami juga akan balas sepantas mungkin.</p>
                    </div>
                    <div class="py-8 sm:py-16 md:py-64">
                        <div class="mb-8 border-neutral-light-400 border rounded-lg w-fit overflow-hidden mx-auto">
                            <table class="bg-white">
                                <thead>
                                    <tr>
                                        <th class="px-5 py-4 text-start font-bold text-neutral-dark-300">Servis</th>
                                        <td class="px-5 py-4 text-start font-bold text-neutral-dark-300">Status</td>
                                        <td class="px-5 py-4 text-start font-bold text-neutral-dark-300">Jangka Masa</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="px-5 py-4 text-start text-neutral-dark-300">
                                            <span>Servis A</span>
                                        </th>
                                        <td class="px-5 py-4 text-start text-neutral-dark-300">
                                            <span>Siap</span>
                                        </td>
                                        <td class="px-5 py-4 text-start text-neutral-dark-300">
                                            <span>INSTANT</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="px-5">
                                            <hr class="border-neutral-light-400">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="px-5 py-4 text-start text-neutral-dark-300">Servis B</th>
                                        <td class="px-5 py-4 text-start text-neutral-dark-300">Sedang Proses</td>
                                        <td class="px-5 py-4 text-start text-neutral-dark-300">1 Jam</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="font-light leading-7">Anda juga boleh bandingkan jangka masa servis di page penyenaraian servis. Plan bisnes anda dengan efektif menggunakan cara ini.</p>
                    </div>
                </div>
                <div class="w-full md:w-[24rem] md:h-[32rem] md:sticky top-56 md:mt-56 md:mb-16">
                    <div class="scale-[1.2] md:scale-[2.5]" id="home--mainbenefits-1-bmcontainer"></div>
                </div>
            </div>
            <div id="section-home--mainbenefits-2" class="relative flex flex-col-reverse md:flex-row justify-between px-8 sm:px-16 w-full md:w-[44rem] lg:w-[50rem] xl:w-[70rem]">
                <div class="w-full md:w-[26rem]">
                    <div class="py-8 sm:py-16 md:py-64">
                        <h1 class="text-primary font-bold text-5xl mb-6">Murah</h1>
                        <p class="font-light leading-7">Serendah .1 sen sahaja, kami tawarkan setiap servis kami harga istimewa kepada anda, jimat perbelanjaan bisnes anda di TokeyFollower.com!</p>
                    </div>
                    <div class="py-8 sm:py-16 md:py-64">
                        <img src="https://cdn.mypanel.link/af5a5a/44tg6bquwe7s8k2s.png" alt="" class="w-96 mx-auto">
                    </div>
                </div>
                <div class="w-full md:w-[24rem] md:h-[32rem] md:sticky top-56 md:mt-56 md:mb-16">
                    <div class="scale-[1.2] md:scale-[2.5]" id="home--mainbenefits-2-bmcontainer"></div>
                </div>
            </div>
            <div id="section-home--mainbenefits-3" class="relative flex flex-col-reverse md:flex-row justify-between px-8 sm:px-16 w-full md:w-[44rem] lg:w-[50rem] xl:w-[70rem]">
                <div class="w-full md:w-[26rem]">
                    <div class="py-8 sm:py-16 md:py-64">
                        <h1 class="text-primary font-bold text-5xl mb-6">Mudah</h1>
                        <p class="font-light leading-7">Sistem di TokeyFollower amat mudah untuk guna! Tambah nilai sahaja untuk aktifkan akaun, kemudian anda boleh mulakan order anda.</p>
                    </div>
                    <div class="py-8 sm:py-16 md:py-64">
                        <img src="https://cdn.mypanel.link/af5a5a/2sig23w14gi2m631.png" alt="" class="w-96 mx-auto">
                    </div>
                </div>
                <div class="w-full md:w-[24rem] md:h-[32rem] md:sticky top-56 md:mt-56 md:mb-16">
                    <div class="scale-[1.2] md:scale-[2.5]" id="home--mainbenefits-3-bmcontainer"></div>
                </div>
            </div>
        </div>
    </section>
    
    {# <section class="py-96 -mt-96 -mb-56 bg-[url('/src/img/home--sidebenefits-bg.svg')] bg-center bg-no-repeat bg-cover"> #}
    <section id="section-home--sidebenefits" class="py-96 -mt-96 -mb-56 bg-bottom bg-no-repeat bg-cover">
        <div class="bg-white w-full xl:w-[80rem] py-10 lg:py-20 shadow-2xl rounded-2xl mx-auto overflow-clip">
            <div class="flex flex-col lg:flex-row gap-8 sm:gap-16 xl:w-[80rem] my-40 px-2 sm:px-8 xl:px-32 relative">
                <div class="flex-1">
                    <h1 class="text-primary font-bold text-2xl sm:text-4xl mb-7 relative z-10">Faedah sertai TokeyFollower</h1>
                    <p class="text-primary font-light leading-7 relative z-10">Server yang sangat murah dan setiap tambah nilai akan diberikan bonus sehingga 10%, 'stay' bersama kami lebih banyak promosi hebat akan kami berikan</p>
                    <div class="absolute inset-0">
                        <img src="https://cdn.mypanel.link/af5a5a/wele2j3qj55a5es7.png" alt="Sidebenefits picture 1" class="-translate-y-16">
                    </div>
                </div>
                <div class="flex-1 z-10">
                    <ul class="flex flex-col gap-8 font-light">
                        <li class="flex items-center gap-4">
                            <span class="flex-shrink-0 w-16 h-10 flex bg-secondary text-secondary-content items-center justify-center rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
                                </svg>
                            </span>
                            <span>Sistem report aktif 24 / 7</span>
                        </li>
                        <li class="flex items-center gap-4">
                            <span class="flex-shrink-0 w-16 h-10 flex bg-secondary text-secondary-content items-center justify-center rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z" />
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" clip-rule="evenodd" />
                                </svg>
                            </span>
                            <span>Harga servis termurah di Malaysia</span>
                        </li>
                        <li class="flex items-center gap-4">
                            <span class="flex-shrink-0 w-16 h-10 flex bg-secondary text-secondary-content items-center justify-center rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </span>
                            <span>0% cas bila tambah nilai ke akaun</span>
                        </li>
                        <li class="flex items-center gap-4">
                            <span class="flex-shrink-0 w-16 h-10 flex bg-secondary text-secondary-content items-center justify-center rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                                </svg>
                            </span>
                            <span>Tiada bayaran muka, pendaftaran percuma!</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-8 sm:gap-16 xl:w-[80rem] my-40 px-2 sm:px-8 xl:px-32 md:items-center md:justify-center relative">
                <div class="z-10">
                    <iframe class="mx-auto md:mx-0 md:ml-auto rounded-2xl border-neutral-light-200 border-4 w-[20.97rem] h-[11.795625rem] sm:w-[35rem] sm:h-[19.6875rem] md:w-[25.63rem] md:h-[14.416875rem] lg:w-[35rem] lg:h-[19.6875rem]" src="https://www.youtube.com/embed/bMIqtZ-HGMo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="xl:w-[35rem] md:ml-auto xl:pr-24 mt-12">
                    <h1 class="text-primary font-bold text-2xl sm:text-4xl mb-7 relative z-10">Demo Sistem TokeyFollower</h1>
                    <p class="font-light leading-7 relative z-10">Cara menggunakan server tokeyfollower, kami ajar anda untuk menjadi seller yang berjaya</p>
                    <div class="absolute inset-y-0 -right-24">
                        {# <img src="/src/img/home--sidebenefits-2.svg" alt="Sidebenefits picture 1" class="-translate-y-0"> #}
                        <svg width="819" height="579" viewBox="0 0 819 579" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.25">
                            <rect x="630.201" y="3.75722" width="25" height="25" rx="5" transform="rotate(17.3237 630.201 3.75722)" stroke="#668699" stroke-width="6"/>
                            <circle cx="385.101" cy="313.92" r="33.9201" fill="#F6C667"/>
                            <path d="M672 299C672 308.389 664.389 316 655 316C645.611 316 638 308.389 638 299C638 289.611 645.611 282 655 282C664.389 282 672 289.611 672 299ZM644.443 299C644.443 304.83 649.17 309.557 655 309.557C660.83 309.557 665.557 304.83 665.557 299C665.557 293.17 660.83 288.443 655 288.443C649.17 288.443 644.443 293.17 644.443 299Z" fill="#BCDEF5"/>
                            <rect x="398.756" y="62" width="49.1394" height="49.1394" rx="8" transform="rotate(7.17728 398.756 62)" fill="#BCDEF5"/>
                            <line x1="385.294" y1="142.216" x2="361.508" y2="166.001" stroke="#EFF7FB" stroke-width="12" stroke-linecap="round"/>
                            <line x1="361.858" y1="116.314" x2="287.485" y2="190.687" stroke="#EFF7FB" stroke-width="12" stroke-linecap="round"/>
                            <rect x="246.819" y="428.164" width="151.881" height="151.881" rx="8" transform="rotate(7.17728 246.819 428.164)" fill="#BCDEF5"/>
                            <line x1="335.294" y1="521.216" x2="311.508" y2="545.001" stroke="#EFF7FB" stroke-width="12" stroke-linecap="round"/>
                            <line x1="311.858" y1="495.314" x2="237.485" y2="569.687" stroke="#EFF7FB" stroke-width="12" stroke-linecap="round"/>
                            <ellipse cx="705.5" cy="161" rx="113.5" ry="113" fill="#F6C667"/>
                            <path d="M733.95 108.485L719 123.436" stroke="#EFF7FB" stroke-width="12" stroke-linecap="round"/>
                            <line x1="757.716" y1="128.221" x2="710.695" y2="175.241" stroke="#EFF7FB" stroke-width="12" stroke-linecap="round"/>
                            <circle cx="82.3906" cy="355.92" r="33.9201" fill="#F6C667"/>
                            <path d="M31.7402 382.917L16.7898 397.867" stroke="#EFF7FB" stroke-width="12" stroke-linecap="round"/>
                            <line x1="55.5056" y1="402.652" x2="8.48525" y2="449.673" stroke="#EFF7FB" stroke-width="12" stroke-linecap="round"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-neutral-light-200 w-full overflow-hidden">
        <div class="flex w-full lg:w-[80rem] px-8 lg:px-0 py-20 md:py-40 relative md:mx-auto">
            <div class="md:w-[50rem] lg:pl-16 xl:pl-32 pt-12 z-10">
                <h1 class="text-primary font-bold text-2xl sm:text-4xl leading-normal mb-7">Panduan memulakan bisnes di TokeyFollower?</h1>
                <p class="font-light leading-7 mb-7">Jangan risau! Ikuti panduan ebook kami. Kami ajar dari cara tambah nilai sehingga order anda siap!</p>
                <div class="flex flex-col md:flex-row gap-4 items-start">
                    <a class="btn btn-primary" href="https://drive.google.com/file/d/1nza4KVfKyq2pft1WencWxmmFBfS3CXmd/view?usp=drivesdk" target="_blank">Panduan Utama</a>
                    <a class="btn btn-primary" href="https://drive.google.com/file/d/1xwLwoUgA7i__YG-Mfu4Ba6uJ2bNcqODl/view?usp=drivesdk" target="_blank">Untuk New User/Seller</a>
                    <a class="btn btn-primary" href="https://drive.google.com/file/d/1xs7n0tFb94RFPkHarjqdu2zygtzRfzkz/view?usp=drivesdk" target="_blank">Troubleshooting</a>
                </div>
            </div>
            <div class="absolute lg:relative right-0 md:w-[28rem] lg:w-[35rem] ml-auto lg:-ml-24 opacity-30 sm:opacity-50 lg:opacity-100">
                <img src="https://cdn.mypanel.link/af5a5a/o0wr7b8si7p05oo5.png" alt="Ebook illustration">
            </div>
        </div>
    </section>
    
    <section class="bg-neutral-light-300 w-full overflow-hidden">
        <div class="flex w-full lg:w-[80rem] px-8 lg:px-0 py-20 md:py-40 relative md:mx-auto">
            <div class="md:w-[40rem] lg:pl-16 xl:pl-32 pt-12 z-10">
                <h1 class="text-primary font-bold text-2xl sm:text-4xl leading-normal mb-7">Mahu berhubung dengan admin?</h1>
                <p class="font-light leading-7 mb-7 text-neutral-dark-700">Mahu dapatkan info semasa dan lain-lain? Sertai group telegram kami! Kami akan update promosi, status sistem, dan banyak lagi</p>
                <div class="flex gap-4">
                    <a class="btn btn-primary w-64" href="https://t.me/tokeyfollowerrr" target="_blank">
                        <span class="mr-6">Sertai Group</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-3.11-8.83l.013-.007.87 2.87c.112.311.266.367.453.341.188-.025.287-.126.41-.244l1.188-1.148 2.55 1.888c.466.257.801.124.917-.432l1.657-7.822c.183-.728-.137-1.02-.702-.788l-9.733 3.76c-.664.266-.66.638-.12.803l2.497.78z"/></svg>
                    </a>
                </div>
            </div>
            <div class="absolute lg:relative right-0 md:w-[28rem] lg:w-[35rem] ml-auto lg:-ml-24 opacity-30 sm:opacity-50 lg:opacity-100">
                <img src="https://cdn.mypanel.link/af5a5a/dme7w90irswxz3qo.png" alt="">
            </div>
        </div>
    </section>
    
    <section class="py-48 bg-white w-full flex flex-col items-center justify-center bg-[url('https://cdn.mypanel.link/af5a5a/o3mf97z6f48quwp8.jpg')] bg-center bg-no-repeat bg-cover">
        <h1 class="md:w-[32rem] text-neutral-dark-focus text-center font-bold text-2xl sm:text-3xl md:text-4xl leading-normal mb-7">
            Tunggu apa lagi, sertai TokeyFollower hari ini!
        </h1>
        <div class="flex gap-4">
            <a class="btn btn-accent w-64" href="/signup">
                <span class="mr-6">Daftar</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </a>
        </div>
    </section>
    
    <footer x-data="{alertVisible: true}" id="section-home--footer" class="w-full px-8 md:px-16 pt-28 pb-28 lg:pt-48 lg:pb-52 text-white bg-neutral-dark-700 flex justify-center">
        <div class="w-full md:w-fit">
            <div class="flex flex-col lg:flex-row justify-center gap-16 md:gap-20 xl:gap-36 mb-14">
                <div class="flex flex-col gap-7 w-64">
                    <h4 class="flex items-center">
                        <img src="https://cdn.mypanel.link/af5a5a/FN6OKAjZHWEN5dRr." alt="" class="w-8">
                        <span class="ml-3">TokeyFollower</span>
                    </h4>
                    <p>Bina servis anda dengan pelbagai servis yang kami sediakan</p>
                    <a href="/signup" class="btn btn-accent w-64">
                        <span class="mr-4">Daftar Sekarang</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
                <div class="flex flex-col md:flex-row justify-center gap-20 xl:gap-28">
                    <div>
                        <h4 class="mb-6 text-lg">Bank Pilihan Kami</h4>
                        <img src="https://cdn.mypanel.link/af5a5a/qwp1iynntaci5uf2.png" alt="Bank Lists" class="w-36">
                    </div>
                    <div>
                        <h4 class="mb-6 text-lg">Halaman Utama</h4>
                        <ul class="text-neutral-light-300 font-light flex flex-col gap-3.5">
                            <li><a href="/signup" class="link link-hover">Daftar</a></li>
                            <li><a href="/services" class="link link-hover">Lihat Servis</a></li>
                            <li><a href="/faq" class="link link-hover">Soalan Lazim</a></li>
                            <li><a href="/terms" class="link link-hover">Terma & Syarat</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="mb-6 text-lg">Media Sosial Kami</h4>
                        <ul class="text-neutral-light-300 font-light flex flex-col gap-3.5">
                            <li><a href="https://t.me/tokeyfollowerrr" target="_blank" class="link link-hover">Telegram</a></li>
                            <li><a href="https://api.whatsapp.com/send?phone=60189133685" target="_blank" class="link link-hover">Whatsapp</a></li>
                            <li><a href="#" target="_blank" class="link link-hover">Instagram</a></li>
                            <li><a href="https://www.facebook.com/tokeyfollowercom/" target="_blank" class="link link-hover">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="border-neutral-dark-300 mb-14">
            <div class="text-center">©2022 TokeyFollower</div>
        </div>
    
        {% if captcha %}
        <template x-teleport="#signin-captcha-container">
            <div class="flex justify-center mb-6">
                {{ captchaCode }}
            </div>
        </template>
        {% endif %}
    
    
        {% if success or error %}
        <template x-teleport="#alert-container-guest">
            <div class="alert {{ success ? 'alert-success' : 'alert-error' }} shadow-lg relative" x-show="alertVisible" x-transition>
                <div class="pr-8 items-start">
                    {% if error %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                        <span>{{ errorMessage }}</span>
                    {% endif %}
                    {% if success %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                        <span>{{ successMessage }}</span>
                    {% endif %}
                </div>
                <button class="absolute top-2 md:top-4 right-4" @click="alertVisible = false">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </template>
        {% endif %}
    
    </footer>
</div>

<style>
    #home--hero-backgroundnoise {
        background:
            linear-gradient(to right, white, transparent 20% 80%, white),
            url("data:image/svg+xml, %3Csvg viewBox='0 0 1920 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.4' numOctaves='1' stitchTiles='stitch' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
    #home--hero-softblobs div:nth-child(1) {
        animation: slow-blink 8s infinite;
        animation-delay: 0s;
    }
    #home--hero-softblobs div:nth-child(2) {
        animation: slow-blink 10s infinite;
        animation-delay: -8s;
    }
    #home--hero-softblobs div:nth-child(3) {
        animation: slow-blink 9s infinite;
        animation-delay: -12s;
    }
    #home--hero-softblobs div:nth-child(4) {
        animation: slow-blink 12s infinite;
        animation-delay: -17s;        
    }

    @keyframes slow-blink { 
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% { opacity: 0; }
    }

    #section-home--sidebenefits {
        background-image: url("data:image/svg+xml,%3csvg width='1440' height='1579' viewBox='0 0 1440 1579' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M349.636 104.066L0 0V1550.48L358.127 1579L835.13 1463.43L1250.7 1565.99L1440 1496.95V239.652L1285.66 129.082L1052.9 204.63L698.273 38.5244L349.636 104.066Z' fill='%23E6F1FA'/%3e%3cpath d='M1090.36 1308.46L1440 1412.52V268.524L1081.87 240.006L604.87 355.579L189.303 253.014L0 322.058V1172.87L154.339 1283.44L387.097 1207.89L741.727 1374L1090.36 1308.46Z' fill='%23BCDEF5'/%3e%3cpath d='M349.636 504.066L0 400V1159.48L358.127 1188L835.13 1072.43L1250.7 1174.99L1440 1105.95V639.652L1285.66 529.082L1052.9 604.63L698.273 438.524L349.636 504.066Z' fill='%23E6F1FA'/%3e%3c/svg%3e");
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.4/lottie.min.js"></script>
<script>
    /* Shapes */
    var bm_map_container = document.getElementById('bmcontainer-heromap');
    var bm_container_mainbenefits_1 = document.getElementById('home--mainbenefits-1-bmcontainer');
    var bm_container_mainbenefits_2 = document.getElementById('home--mainbenefits-2-bmcontainer');
    var bm_container_mainbenefits_3 = document.getElementById('home--mainbenefits-3-bmcontainer');
    
    const main_anim = lottie.loadAnimation({ animType: 'svg', loop: true,
        wrapper: bm_map_container,
        path: 'https://nicerazer.github.io/TF2022/design/src/bodymovin/home--hero.json'
    })
    main_anim.setSpeed(0.5)
    lottie.loadAnimation({ animType: 'svg', loop: true,
        wrapper: bm_container_mainbenefits_1,
        path: 'https://nicerazer.github.io/TF2022/design/src/bodymovin/home--1-pantas.json'
    })
    lottie.loadAnimation({ animType: 'svg', loop: true,
        wrapper: bm_container_mainbenefits_2,
        path: 'https://nicerazer.github.io/TF2022/design/src/bodymovin/home--2-mudah.json'
    })
    lottie.loadAnimation({ animType: 'svg', loop: true,
        wrapper: bm_container_mainbenefits_3,
        path: 'https://nicerazer.github.io/TF2022/design/src/bodymovin/home--3-murah.json'
    })

    // const mainbenefits_container = document.getElementById('section-home--mainbenefits')

    // document.addEventListener('scroll', function() {
    // })

    document.addEventListener('alpine:init', () => {
        Alpine.data('signinPageData', () => ({
            mainbenefits_currentview: 1,
            // scream: () => {
            //     if (isInViewport(bm_container_mainbenefits_1)) {
            //         alert(mainbenefits_currentview)
            //         this.mainbenefits_currentview = 1
            //     }
            //     if (isInViewport(bm_container_mainbenefits_2)) {
            //         this.mainbenefits_currentview = 2
            //     } 
            //     if (isInViewport(bm_container_mainbenefits_3)) {
            //         this.mainbenefits_currentview = 3
            //     }
            // }
        }))
    })

    // function isInViewport(el) {
    //     const rect = el.getBoundingClientRect()
    //     return (
    //         rect.top >= 0 &&
    //         rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
    //     )
    // }

    // window.addEventListener('load', (event) => {
    //     window.scrollTo(0, 2666)
    // });
</script>
